.AvatarImg {
    height: 60px;
    width: 60px;
    border: 10px lightgrey solid;
    border-radius: 50%;
}

.UserInfo {
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}