.Header {
    background-color: cadetblue;

    font-size: 20px;
    color: darkblue;
    display: flex;
    }
.LinkHome {
    box-sizing: border-box;
    border: 2px solid black;
    background: whitesmoke;
    /*justify-content: center;*/
    /*text-decoration: none;*/

}