.Header_light {
    font-size: 20px;
    display: flex;
    background: #bbd5d5;
    color: black;
    align-items: center;
    justify-content: space-evenly;
    }
.Header_dark {
    font-size: 20px;
    display: flex;
    background: #263838;
    color: whitesmoke;
    align-items: center;
    justify-content: space-evenly;
}

.ToddleBlock {
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.BackButton_light {
    height: 75px;
    width: 150px;
    font-size: 20px;
    font-weight: bolder;
 }
.BackButton_dark {
    height: 75px;
    width: 150px;
    font-size: 20px;
    font-weight: bolder;
    background: #83a1a1
}